{%  extends '../layout.html.twig'  %}


<div class="card" style="width: 18rem;">
    <img src="https://mbbpig.bn.files.1drv.com/y4m9zN4MCff4p-ZDZhM5sQqWE_P7EP4I-a3I0l5gc53rDMxJKgpIfLuYifI1eZob_8bG97vxfUZdYc1tEcY-c5L2pdQnP59-21RCfuMrPjEhYpZb8FNySuSn53iEExuP6bcMao96Trt7WxssVsQ303jDn56wJ-WW0Ip-pQKpYXz8c2wLVU25lL4o84X9Gaah0kOYu_ykTC-yQEnYxaIcO6lcw?width=3888&height=2592&cropmode=none" class="card-img-top" alt="montain view">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="barre_level">
            <img class="level" src="https://qrkbia.bn.files.1drv.com/y4mC2qqWdrIrsaYlAulE1cLx1lVnBNeARzOM2jLLjEiohJBqgFeXS6TLXugyN75x7czM-qkXNluecKR4EH0jSBI6V5hxTOKAw2LO_hRd3A18WoCn4NXldHFo-2tE_d50jOfgWEqent3q5QN8UC-NSY9jMHTuD1585pl3r4FPdCHh_-O5HOtHvhtlGCiyWJaWx5sgaqGzvlCFwiv-ZHDX2Qlig?width=88&height=211&cropmode=none" alt="lvl" style="width: 26px;
    height: 48px;">
            <img class="level" src="https://qrkbia.bn.files.1drv.com/y4mC2qqWdrIrsaYlAulE1cLx1lVnBNeARzOM2jLLjEiohJBqgFeXS6TLXugyN75x7czM-qkXNluecKR4EH0jSBI6V5hxTOKAw2LO_hRd3A18WoCn4NXldHFo-2tE_d50jOfgWEqent3q5QN8UC-NSY9jMHTuD1585pl3r4FPdCHh_-O5HOtHvhtlGCiyWJaWx5sgaqGzvlCFwiv-ZHDX2Qlig?width=88&height=211&cropmode=none" alt="lvl" style="width: 26px;
    height: 48px;">
            <img class="level" src="https://qrkbia.bn.files.1drv.com/y4mC2qqWdrIrsaYlAulE1cLx1lVnBNeARzOM2jLLjEiohJBqgFeXS6TLXugyN75x7czM-qkXNluecKR4EH0jSBI6V5hxTOKAw2LO_hRd3A18WoCn4NXldHFo-2tE_d50jOfgWEqent3q5QN8UC-NSY9jMHTuD1585pl3r4FPdCHh_-O5HOtHvhtlGCiyWJaWx5sgaqGzvlCFwiv-ZHDX2Qlig?width=88&height=211&cropmode=none" alt="lvl" style="width: 26px;
    height: 48px;">
            <img class="level" src="https://qrkbia.bn.files.1drv.com/y4mC2qqWdrIrsaYlAulE1cLx1lVnBNeARzOM2jLLjEiohJBqgFeXS6TLXugyN75x7czM-qkXNluecKR4EH0jSBI6V5hxTOKAw2LO_hRd3A18WoCn4NXldHFo-2tE_d50jOfgWEqent3q5QN8UC-NSY9jMHTuD1585pl3r4FPdCHh_-O5HOtHvhtlGCiyWJaWx5sgaqGzvlCFwiv-ZHDX2Qlig?width=88&height=211&cropmode=none" alt="lvl" style="width: 26px;
    height: 48px;">
            <img class="level" src="https://3s3dkg.bn.files.1drv.com/y4mamy1nvhYXFiYM84pVTqwo25OfZzYRfj4NKh6tvFk_vWuunEXvyrZfKb21tji_Gqqpay15zQrM1aYC4fNElWGLncUMnqM5Nmp2IgDdc0mdGjl_3BWN0PDnPBNDf9Gp8MAxN194jCw8wo_j4tuu2YZwYTPcuid5lLfp1D9mq9vqjv4ZiMWyal3wX1Iadj05c85fd6ziFFxP8zidqRQnqnmnw?width=88&height=211&cropmode=none" alt="lvl" style="width: 26px;
    height: 48px;">
        </div>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
    </div>
</div>

